html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-family: 'Alegreya Sans', sans-serif;
    /*background-color: #111111;
    color: #eeeeee;*/
}

.center-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (max-width: 520px) {
    .center-wrapper {
        width: 100%;
    }
}
@media (min-width: 520px) and (max-width: 780px){
    .center-wrapper {
        width: 520px;
    }
}
@media (min-width: 780px) {
    .center-wrapper {
        width: 780px;
    }
}


.main-display-wrapper {
    height: 100%;
    width: 100%;
}

.bday-wrap {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
    align-items: center;

}
label {
    margin: auto;
}
.radio {
    margin: auto;
}
table {
    width: 100%;
    height: 100%;
}
tr {
    width: 100%;
    padding: 5px;
    margin: 5px;
    height: 1.1%;
}

td {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: black;
    border: solid;
    border-width: thin;
    width: 1.9%;
    position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .week {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
    background-color: #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style:hidden;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
p {
    max-width: 768px;
    text-align: left;
}
.active {
    background-color: red;
}

input[type=date] {
    padding: 5px;
    margin: 5px;
    border: none;
    font-family: inherit;
    font-size: 1.3pc;
    -webkit-border-bottom: 10px;
    background-color: #eeeeee;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: red;
}
